<script src="../src/Thermostat.js"></script>
<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel='stylesheet'>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body align="center">
  <script src="../jquery-3.3.1.min.js"></script>
  <script src="../src/interface.js"></script>

  <div>
    <p id="temperature" style="font-size: 50px"></p>
  </div>

  <div id="interface">
    <br />
    <button id="up" style="background-color: #f53; font-size: 50px;" >+</button>
    <button id="down" style="background-color: #59f; font-size: 50px;" >-</button><br />
    <button id="switch" style="background-color: #5f9" >SWITCH POWER SAVING MODE</button><br />
    <button id="reset" style="background-color: #ccc" >RESET</button>
  </div>
  <br />
  <div id="psm">
    <h2>POWER SAVING MODE ON</h2>
    <img id="tree-icon" src="img/tree.png" alt="A tree" height="42" width="42">
  </div>
</body>
</html>
